django
djangorestframework
python-dotenv # for connecting to .env file
psycopg2-binary # postres driver
djangorestframework_simplejwt # for jwt auth
drf-yasg # swagger (for api-docs)
psutil
redis
pika
redis 
django-redis
psutil

