<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
</head>
<body>
    <p>Hello {{ username }},</p>
    <p>
        Thank you for sending forgot password request.
        Please click the link below to change your forgot password:
    </p>
    <p><a href="{{ verification_link }}">Change Password</a></p>
    <p>If you did not sent any request, please ignore this email.</p>
    <p>Best regards,</p>
    <p>{{ app_name }} Team</p>
</body>
</html>
